@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.separator__features .separator__feat-inner .features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 1.3rem;
}
.separator__features .separator__feat-inner .features li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.separator__features .separator__feat-inner .features li .feat-text {
  border-bottom: solid;
}
.separator__features .separator__feat-inner .features li .feat_ico {
  width: 50px;
  height: 50px;
}
.separator__instr .separator__instr-inner .features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 1.3rem;
}
.separator__instr .separator__instr-inner .features li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.separator__instr .separator__instr-inner .features li .feat-text {
  border-bottom: solid;
}
.separator__instr .separator__instr-inner .features li .feat_ico {
  width: 50px;
  height: 50px;
}
.header__wrapper {
  position: fixed;
  z-index: 1000;
  font-family: "Prompt", sans-serif;
  background-color: #C34A36;
  width: 100%;
}
.header__wrapper a {
  color: black;
}
.header__wrapper a:hover {
  color: white;
}
.header__wrapper .header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
  height: 60px;
}
.header__wrapper .header__inner .logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.header__wrapper .header__inner .logo .logo-title {
  font-size: 3rem;
  color: white;
}
.header__wrapper .header__inner .logo .logo-description {
  font-size: 0.8rem;
  color: #bebebe;
}
.header__wrapper .header__inner ul, .header__wrapper .header__inner .sub__menu {
  display: flex;
  align-items: center;
  gap: 35px;
  text-transform: uppercase;
}
.header__wrapper .header__inner ul .more-instr, .header__wrapper .header__inner .sub__menu .more-instr {
  position: relative;
}
.header__wrapper .header__inner ul .more-instr .sub__menu-instruments, .header__wrapper .header__inner .sub__menu .more-instr .sub__menu-instruments {
  display: none;
}
.header__wrapper .header__inner ul .more-instr .sub__menu-instruments.active, .header__wrapper .header__inner .sub__menu .more-instr .sub__menu-instruments.active {
  width: 150px;
  margin-top: 30px;
  position: absolute;
  left: -5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  background-color: rgba(195, 74, 54, 0.39);
}
.header__wrapper .header__inner ul .more-instr .sub__menu-instruments.active li, .header__wrapper .header__inner .sub__menu .more-instr .sub__menu-instruments.active li {
  margin: 5px;
}
.header__wrapper .header__inner ul li, .header__wrapper .header__inner .sub__menu li {
  border-bottom: solid;
}

.login__wrapper {
  font-family: "Prompt", sans-serif;
  background-image: url("../../assets/img/Wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.login__wrapper .login__inner {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login__wrapper .login__inner .features {
  padding-top: 10%;
  display: flex;
  justify-content: space-around;
}
.login__wrapper .login__popup {
  overflow: visible;
  opacity: 100;
  top: 83px;
  z-index: 100;
  color: black;
}
.login__wrapper .login__popup .container {
  display: flex;
  justify-content: end;
}
.login__wrapper .container .login__body {
  width: 300px;
}
.login__wrapper .container .login__body .login__window .title {
  font-size: 64px;
  height: 20vh;
}
.login__wrapper .container .login__body .login__window .login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login__wrapper .container .login__body .login__window .login button {
  cursor: pointer;
  width: 35%;
  border-radius: 5px;
  padding: 2px;
  color: white;
  background-color: #C34A36;
}
.login__wrapper .container .login__body .login__window .login button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  border: solid 2px #000000;
}
.login__wrapper .container .login__body .login__window .login input {
  border-bottom: solid;
  border-width: 2px;
  background: none;
  outline: none;
}
.login__wrapper .container .login__body .login__window input, .login__wrapper .container .login__body .login__window button {
  border: none;
  font-size: 1.1rem;
}

.main__wrapper {
  font-family: "Prompt", sans-serif;
}
.main__wrapper .main__inner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__wrapper .main__inner .block {
  width: 100%;
  justify-content: space-around;
  display: flex;
}
.main__wrapper .main__inner .block .img-wrap, .main__wrapper .main__inner .block .description {
  width: 500px;
  height: 500px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15%;
}
.main__wrapper .main__inner .block .description {
  font-size: 2rem;
}

.about__wrapper {
  font-family: "Prompt", sans-serif;
}
.about__wrapper .about__inner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__wrapper .about__inner .block {
  width: 100%;
  justify-content: space-around;
  display: flex;
}
.about__wrapper .about__inner .block .slider-block, .about__wrapper .about__inner .block .description {
  width: 500px;
  height: 500px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15%;
}
.about__wrapper .about__inner .block .description {
  font-size: 2rem;
}
.about__wrapper .about__inner .block .slider-block .slide {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  border-radius: 50px;
}
.about__wrapper .about__inner .block .slider-block .slide:nth-child(1) {
  background-color: #C34A36;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__wrapper .about__inner .block .slider-block .slide:nth-child(2) {
  background-color: #FBAB7E;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__wrapper .about__inner .block .slider-block .slide:nth-child(3) {
  background-color: #88391b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__wrapper {
  font-family: "Prompt", sans-serif;
  background-color: rgba(105, 105, 105, 0.09);
}
.contacts__wrapper .contacts__inner {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.contacts__wrapper .contacts__inner .block-social-wrapper {
  height: 100%;
}
.contacts__wrapper .contacts__inner .block-social-wrapper .block-social {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.contacts__wrapper .contacts__inner .block-social-wrapper .block-social .social-name-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contacts__wrapper .contacts__inner .block-social-wrapper .block-social .social-name-wrapper .social-icon img {
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 25px;
}
.contacts__wrapper .contacts__inner .block-social-wrapper .block-social .social-name-wrapper .social-name {
  font-size: 1.5rem;
}
.contacts__wrapper .contacts__inner .block-social-wrapper .block-social a {
  color: black;
}
.contacts__wrapper .contacts__inner .block-location-wrapper {
  height: 100%;
}
.contacts__wrapper .contacts__inner .block-location-wrapper .block-location {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contacts__wrapper .contacts__inner .block-location-wrapper .block-location .fed-logo {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  border-radius: 26px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -2px;
}
.contacts__wrapper .contacts__inner .block-location-wrapper .block-location .fed-logo a {
  color: black;
}
.contacts__wrapper .contacts__inner .block-location-wrapper .block-location li {
  font-size: 1.5rem;
}

button {
  width: 400px;
  height: 400px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
