// === === === === === === === === === === === === === === //
// fonts
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');//font-family: 'Source Code Pro', monospace;
//font-family: 'Prompt', sans-serif;

// === === === === === === === === === === === === === === //
// container
.container{
  max-width: 1280px;
  margin: 0 auto;
}

// === === === === === === === === === === === === === === //
// separators
.separator__features{
  //
  .separator__feat-inner{
    //
    .features{
      display: flex;
      align-items: center;
      justify-content: space-around;
      //
      //
      width: 100%;
      //
      font-size: 1.3rem;
      //
      li{
        display: flex;
        flex-direction: column;
        //
        align-items: center;
        justify-content: center;
        //
        gap: 10px;
        //
        .feat-text{
          border-bottom: solid;
        }
        //
        .feat_ico{
          width: 50px; height: 50px;
        }
        //
        img{

        }
      }
    }
  //;
  }
}
//
.separator__instr{
  //
  .separator__instr-inner{
    //
    .features{
      display: flex;
      align-items: center;
      justify-content: space-around;
      //
      //
      width: 100%;
      //
      font-size: 1.3rem;
      //
      li{
        display: flex;
        flex-direction: column;
        //
        align-items: center;
        justify-content: center;
        //
        gap: 10px;
        //
        .feat-text{
          border-bottom: solid;
        }
        //
        .feat_ico{
          width: 50px; height: 50px;
        }
        //
        img{

        }
      }
    }
    //;
  }
}

// === === === === === === === === === === === === === === //
// wrappers
.header__wrapper{
  //
  position: fixed;
  z-index: 1000;
  //
  font-family: 'Prompt', sans-serif;
  //
  background-color: #C34A36;
  //
  width: 100%;
  //
  a{
    color: black;
    &:hover{
      color: white;
    }
  }
  //
  .header__inner{
    //
    display: flex;
    align-items: center;
    justify-content: space-between;
    //
    padding: 7px 0;
    //
    $header-heigh: 60px;
    height: $header-heigh;
    //
    .logo{
      display: flex;
      flex-direction: row;
      gap: 10px;
      //
      align-items: center;
      //
      .logo-title{
        font-size: 3rem;
        //
        color: white;
      }
      //
      .logo-description{
        font-size:  0.8rem;
        //
        color: #bebebe;
      }
    }
    //
    ul, .sub__menu{
      .more-instr{
        //
        position: relative;
        //
        .sub__menu-instruments{
          display: none;
        }
        .sub__menu-instruments.active{
          width: 150px;
          margin-top: 30px;
          //
          position: absolute;
          left: -5px;
          //
          display: flex;
          flex-direction: column;
          //
          gap: 15px;
          //
          align-items: start;
          //
          background-color: rgba(195, 74, 54, 0.39);
          //
          li{
            margin: 5px;
            //
          }
        }
      }
      //
      li{
        border-bottom: solid;
        //
      }
      //
      display: flex;
      align-items: center;
      gap: 35px;
      //
      text-transform: uppercase;
      //
    }
  }
}
//
.login__wrapper{
  //
  font-family: 'Prompt', sans-serif;
  //
  background-image: url("../../assets/img/Wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  //
  .login__inner{
    height: 100vh; width: 100%;
    //
    display: flex;
    //align-items: center;
    flex-direction: column;
    justify-content: center;
    //
    .features{
      padding-top: 10%;
      display: flex;
      justify-content: space-around;
      //

    }
  }
  //
  .login__popup{
    overflow: visible;
    opacity: 100;
    //
    //position: sticky;
    top: 83px;
    z-index: 100;
    //
    color: black;
  }
  //
  .login__popup .container{
    display: flex;
    justify-content: end;
  }
  //
  .container .login__body{
    //
    width: 300px;
    //
    .login__window{
      //
      .title{
        font-size: 64px;
        //
        height: 20vh;
      }
      //
      .login{
        display: flex;
        flex-direction: column;
        //
        gap: 20px;
        //
        button{
          cursor: pointer;
          //
          width: 35%;
          //
          border-radius: 5px;
          padding: 2px;
          //
          color: white;
          background-color: #C34A36;
          //
          &:hover{
            background-color: rgba($color: #ffffff, $alpha: 0.9);
            color: black;
            border: solid 2px #000000;
            //
          }
        }
        input{
          border-bottom: solid;
          border-width: 2px;
          //
          background: none;
          outline: none;
        }
      }
      input, button{
        border: none;
        font-size: 1.1rem;
      }
    }
  }
}
//
.main__wrapper{
  //
  font-family: 'Prompt', sans-serif;
  //
  //background-color: white;
  //background-image: url("../../assets/img/Wave.svg");
  //background-size: cover;
  //background-repeat: no-repeat;
  //
  .main__inner{
    height: 100vh;
    width: 100%;
    //
    display: flex;
    align-items: center;
    justify-content: center;
    //
    .block{
      width: 100%;
      //
      justify-content: space-around;
      //
      display: flex;
      //
      .img-wrap, .description{
        width: 500px; height: 500px;
        //
        padding: 7px;
        //
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        //
        border-radius: 15%;
        //
      }
      .description{
        font-size: 2rem;
      }
    }
  }
}
//
.about__wrapper{
  //
  font-family: 'Prompt', sans-serif;
  //
  //background-image: url("../../assets/img/Wave_2.svg");
  //background-size: cover;
  //background-repeat: no-repeat;
  //
  .about__inner{
    height: 100vh;
    width: 100%;
    //
    display: flex;
    align-items: center;
    justify-content: center;
    //
    .block{
      width: 100%;
      //
      justify-content: space-around;
      //
      display: flex;
      //
      .slider-block, .description{
        width: 500px; height: 500px;
        //
        padding: 7px;
        //
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        //
        border-radius: 15%;
        //
      }
      .description{
        font-size: 2rem;
      }
      //
      .slider-block{
        //
        .slide{
          width: 90%;
          height: 90%;
          //
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: auto;
          //
          border-radius: 50px;
        }
        //
        .slide:nth-child(1){
          background-color: #C34A36;
          //
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .slide:nth-child(2){
          background-color: #FBAB7E;
          //
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .slide:nth-child(3){
          background-color: #88391b;
          //
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
//
.contacts__wrapper{
  //
  font-family: 'Prompt', sans-serif;
  //
  background-color: rgba(105, 105, 105, 0.09);
  //
  .contacts__inner{
    height: 15vh;
    width: 100%;
    //
    display: flex;
    align-items: center;
    justify-content: space-between;
    //
    padding: 30px 0;
    //
    //
    .block-social-wrapper{
      height: 100%;
      //
      .block-social{
        width: 100%; height: 100%;
        //
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        //
        gap: 5px;
        //
        .social-name-wrapper{
          display: flex;
          align-items: center;
          //
          gap: 10px;
          //
          .social-icon img{
            background-size: cover;
            background-position: center;
            //
            width: 25px; height: 25px;
          }
          //
          .social-name{
            font-size: 1.5rem;
          }
        }
        //
        a{
          color: black;
        }
      }
    }
    .block-location-wrapper{
      height: 100%;
      //
      .block-location{
        width: 100%;
        //
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //
        gap: 10px;
        //
        .fed-logo{
          $cube: 70px;
          width: $cube; height: $cube;
          //
          display: flex;
          align-items: center;
          justify-content: center;
          //
          background-color: blueviolet;
          border-radius: 26px;
          //
          font-size: 2rem;
          font-weight: bold;
          letter-spacing: -2px;
          a{
            color: black;
          }
        }
        li{
          font-size: 1.5rem;
        }
      }
    }
  }
}
