@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

//

*{
  margin: 0;
  padding: 0;
  font-family: 'Koulen', cursive;
}

// blocked
.blocked{
  display: none;
}
.blocked.active{
  //
  .blocked__bg{
  //
  }
  .blocked__popup{
    //
    p{
    color: #C34A36;
    }
  }
}



.container {
  user-select: none;
  max-width: 1280px;
  margin: 0 auto;
}
@mixin glassMorph{
  background: linear-gradient(225deg, #cacaca, #f0f0f0);
  box-shadow:  -20px 20px 60px #bebebe,
  20px -20px 60px #ffffff;
}
$mixer-height: 275px;


.header{
  position: fixed;
  width: 100%;
  display: flex;
  height: 50px;
  background: #C34A36;
  font-size: 1.5rem;
  align-items: center;
}

.main{
  width: 100%;
  height: 100vh;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

  //background-image: url("assets/img/Cloudy.svg");
  //background-repeat: no-repeat;
  //background-size: cover;

}

.drums {

  position: relative;
  width: 100%;
  height: 100%;
  .drums__container{
    width: 100%;
    height: 100vh;
  }
  .drums__container, .dr{
    position: absolute;
    width: 40%;
    left: 25%;
    img{
      &#kick{
        width: 60%;
        /* left: 25%; */
        /* top: 200px; */
        /* top: 0; */
        bottom: 10%;
      }
      &#snare{
        width: 30%;
        left: 9%;
        bottom: 10%;
      }
      &#hh-close{
        width: 36%;
        left: -12%;
        bottom: 10%;
      }
      &#hh-open{
        width: 30%;
        left: -37%;
        bottom: 5%;
      }
      &#tom-up{
        width: 24%;
        left: 25%;
        bottom: 35%;
      }
      &#tom-mid{
        width: 24%;
        left: 55%;
        bottom: 35%;
      }
      &#tom-floor{
        width: 36%;
        left: 70%;
        bottom: 8%;
      }
      &#crash{
        width: 50%;
        left: 90%;
        bottom: 8%;
      }
    }
  }
}

//img{
//  user-select: none;
//  &#kick{
//    width: 20%;
//    top:50%;
//    left:50%;
//    transform:translate(-50%);
//  }
//}

 input{
   //-webkit-appearance: slider-vertical; /* Chromium */
   height: 20px;
   width: 100px;
   background-color: aqua;
   color: black;
 }

//.drums {
//  display: none;
//}


// =======================================
//mixer style
.instructions{
  position: relative;
}
.mixer{
  z-index: 1000;
  position: absolute;
  left: 0;
  top: calc(100vh - 75%);
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  //border-radius: 10px;
  //border: solid 3px;
  gap: 10px;
  max-height: $mixer-height;
}

.fader{
  &:hover{
    box-shadow: 10px 13px 3px #3c354a;
    transform: scale(1.05) translateZ(0);

  }
  box-shadow: 7px 9px 1px #3c354a;
  font-size: 12px;
  border-radius: 5px;
  //border: solid 1px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;

  //width: 350px;
  height: 40px;
  background-color: rgb(87, 83, 93);
  color: black;
  font-weight: bold;
  .fader__name{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    //background-color: #4B4453;
    color: white;
    border-color: black;
    font-weight: bold;
    height: 50px;
  }
  .fader__key{
    width: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fader-vol{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    padding-right: 10px;
    color: white;
    &:hover{
      color: #C34A36;
    }
  }
}

.dr:active{
  transform: scale(1.05) translateZ(0);
}

.dr.active{
  transform: scale(1.05) translateZ(0);
}

